<form>
  <%= button_tag 'EUR', name: 'currency', value: 'EUR' %>
  <%= button_tag 'USD', name: 'currency', value: 'USD' %>
  <%= button_tag 'AUD', name: 'currency', value: 'AUD' %>
  <%= button_tag 'Reset', name: nil %>
  <%= button_tag 'EUR', name: 'currency', value: 'EUR', class: "btn euro" %>
  <%= button_tag 'USD', name: 'currency', value: 'USD', class: "btn usd" %>
</form>
